<div id="portfolioOptions">

    
    <!-- Login Form -->
    <form class="form-horizontal" [formGroup]="createPortfolioForm" (ngSubmit)="onCreateSubmit()">
        <h4>New Portfolio:</h4>
        <div class="form-group">
            <input type="text" formControlName="portfolioname" class="form-control" 
            [ngClass]="{ 'is-invalid': submittedCreate && f.portfolioname.errors }"
            placeholder="Portfolio Name">
            <div *ngIf="submittedCreate && f.portfolioname.errors" class="invalid-feedback">
              <div *ngIf="f.portfolioname.errors.required">A portfolio name is required</div>
            </div>
        </div>
        <div class="form-group">
            <input type="number" formControlName="amount" class="form-control" 
            [ngClass]="{ 'is-invalid': submittedCreate && f.amount.errors }"
            placeholder="Starting Amount">
            <div *ngIf="submittedCreate && f.amount.errors" class="invalid-feedback">
                <div *ngIf="f.amount.errors.required">Starting amount is required</div>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn" style="margin-bottom: 5px;">Create</button>   
        </div>
    </form>
</div>
<br/>
<br/>
<br/>
<div id="portfolios">
    <div *ngIf="!portfolios">
        <!-- <mat-progress-spinner></mat-progress-spinner> -->
        Loading...
    </div>
    <table *ngIf="portfolios" style="width: 100%;">
        <th>Portfolio</th>
        <th>GBP</th>
        <th>Bitcoin</th>
        <th>Start</th>
    
        <tr *ngFor="let portfolio of portfolios">
            <td><a (click)="selectPortfolio(portfolio)" style="color: #1976d2; cursor: pointer;">{{portfolio.rowKey}}</a></td>
            <td>{{portfolio.gbp}}</td>
            <td>{{portfolio.btc}}</td>
            <td>{{portfolio.start}}</td>
        </tr>
    </table>
</div>
<br/>
<br/>
<div id="selected-portfolio">
    <div *ngIf="selected">
        <h4>{{selected.rowKey}}</h4>
    </div>
</div>