azure-common         ==1.1.24    
azure-cosmos         ==3.1.2     
azure-cosmosdb-nspkg ==2.0.2     
azure-cosmosdb-table ==1.0.6     
azure-functions      ==1.0.8     
azure-nspkg          ==3.0.2     
certifi              ==2019.11.28
cffi                 ==1.14.0    
chardet              ==3.0.4     
cryptography         ==2.8       
idna                 ==2.8       
pip                  ==20.0.2    
praw                 ==6.5.1     
prawcore             ==1.0.1     
psaw                 ==0.0.7     
pycparser            ==2.19      
python-dateutil      ==2.8.1     
requests             ==2.22.0    
setuptools           ==65.5.1    
six                  ==1.14.0    
update-checker       ==0.16      
urllib3              ==1.25.8    
websocket-client     ==0.57.0    
wheel                ==0.34.2   
textblob             ==0.15.3    