
.positionsTable
    width: 60%
    margin: 25px 0
    border: 2px solid 
    text-align: center
    border-collapse: collapse
    background-color: #1976d2
    color: #ffffff
    padding: 8px
    font-family: "Poppins", sans-serif
    

.positionsTable th
  border: 1px solid
  padding-top: 6px
  padding-bottom: 6px


.rows
  

  &:hover
      //opacity: 0.8
      background-color: #125699


.button
  padding: 6px 30px
  background-color: #1976d2
  color: #ffffff
  margin: 5px 0
  display: inline-block
  border: 1px solid #ccc
  border-radius: 2px
  box-sizing: border-box
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  
  &:hover
    opacity: 0.8



.input
  margin: 5px 0
  display: inline-block
  border: 1px solid #ccc
  border-radius: 2px
  box-sizing: border-box


//#1976d2
//#125699


