
.positionsTable
  width: 98%
  margin: 1%
  text-align: center
  background-color: #ffffff
  color: #1976d2
  padding: 1%
  font-family: "Poppins", sans-serif
  border: 3px solid #1976d2
  border-radius: 10px
  height: 400px

.positionsTable table
  width: 100%
    
//#1976d2

.positionsTable th
  padding-top: 6px
  padding-bottom: 6px

.rows
  &:hover
      //opacity: 0.8
      background-color: #93c3f3
      color: #ffffff

.scroll
  height: 350px

.btn
  background-color: #ffffff
  border: 3px solid #1976d2
  border-radius: 10px
  color: #1976d2
  
  &:hover
    background-color: #93c3f3
    color: #ffffff

  // &:focus 
  //   background: #000000
  //   outline: 0

.input
  margin: 1%
  padding: 1%
  display: inline-block
  border: 1px solid #ccc
  border-radius: 2px
  box-sizing: border-box


//#1976d2
//#125699

.form-horizontal
    display: inline

.form-horizontal h4
    float: left 

.form-group
    float: left
    margin: 0.5%












