<html>

    <div id="mylinechart" class="canvasContainer" style="text-align: center;"> 
        <h2>Comparison</h2>
        <canvas id="lineChart2" ></canvas> 
        
    </div>
    
    <style> #mylinechart{display: none;}
    </style>

<head>

    <title> Vortex </title>

<!--<script type="text/javascript">
    
    function fn1()
    {
       var str = document.getElementById("text1").value;
       alert("Comparing with: "+str);
    }
    
    
    </script>
-->

</head>

<p>comparison-screen works!</p>

<body>

    <input id="text1" placeholder="Enter Username">
    <br>
    <button (click)="compare()"> Compare!</button>
    
</body>


</html>