
<html>
    <body>
        <div class = "ForumQuestions">
            <form class = "form-horizontal" [formGroup] = "createForumForm" (ngSubmit) = "onCreateSubmit()">
                <br/>
                <br/>
                <h2 class = "title"> Forum </h2>
                <br/>
                <h4> Question: </h4>
                <div class = "form-group">
                    <input type = "text" formControlName = "question" class = "form-control" placeholder = "Enter question">
                </div>
        
                <div class = "form-group">
                  <button type = "submit" class = "btn" style = "margin-bottom: 5px;"> POST </button>   
                </div>
            </form>
        </div>
        <br/>
        <div class = "questions">
            <div *ngIf = "!questions">
                Loading...
            </div>
            <table *ngIf = "questions" style = "width: 100%;">
                <th> Questions </th>
            
                <tr *ngFor = "let question of questions">
                    <td><a (click) = "selectQuestion(question)" style = "cursor: pointer;"> {{ question.question }} </a></td>
                </tr>
            </table>
        </div>
        <br/>
        <br/>
        <div class = "ForumReplies">
            <form class = "form-horizontal" [formGroup] = "createForumForm" (ngSubmit) = "onCreateSubmit()">
                <div *ngIf = "questiondata">
                    <h4> Viewing replies for question: how much is bitcoin  </h4>
                    <br/>
                    <h4> Reply: </h4>
                    <div class = "form-group">
                        <input type = "text" formControlName = "reply" class = "form-control" placeholder = "Enter Reply">

                        <div class = "form-group">
                            <button type = "submit" id = "getQuestions" id = "getReply" class = "btn" style = "margin-bottom: 5px;"> POST </button>   
                        </div>
                        <br/>
                    </div>
                </div>
            </form>
        </div>

        <div class = "selected-question">
            <table style = "width: 100%">
                <th> Replies </th>

                <tr *ngFor = "let question of questiondata">
                    <td>
                        {{ question.reply }}
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>





